{% extends "base.html" %}

{% block content %}

<h1>About</h1>

<h2>Find the project on GitHub</h2>
<a class="github-button" href="https://github.com/Adamouization" data-size="large" data-show-count="true"
   aria-label="Follow @Adamouization on GitHub">Follow @Adamouization</a>
<a class="github-button" href="https://github.com/Adamouization/Formula1-Crash-Stats/subscription"
   data-icon="octicon-eye" data-size="large" data-show-count="true"
   aria-label="Watch Adamouization/Formula1-Crash-Stats on GitHub">Watch</a>
<a class="github-button" href="https://github.com/Adamouization/Formula1-Crash-Stats" data-icon="octicon-star"
   data-size="large" data-show-count="true" aria-label="Star Adamouization/Formula1-Crash-Stats on GitHub">Star</a>
<a class="github-button" href="https://github.com/Adamouization/Formula1-Crash-Stats/fork"
   data-icon="octicon-repo-forked" data-size="large" data-show-count="true"
   aria-label="Fork Adamouization/Formula1-Crash-Stats on GitHub">Fork</a>
<a class="github-button" href="https://github.com/Adamouization/Formula1-Crash-Stats/issues"
   data-icon="octicon-issue-opened" data-size="large" data-show-count="true"
   aria-label="Issue Adamouization/Formula1-Crash-Stats on GitHub">Issue</a>
<a class="github-button" href="https://github.com/Adamouization/Formula1-Crash-Stats/archive/master.zip"
   data-icon="octicon-cloud-download" data-size="large"
   aria-label="Download Adamouization/Formula1-Crash-Stats on GitHub">Download</a>
<!--<img data-size="large" alt="Travis (.com)" src="https://img.shields.io/travis/com/Adamouization/Formula1-Crash-Stats?style=social">-->

<h2>Technologies used</h2>
<ul>
    <li>Back-end code written in Python 3.9 using Flask. Front-end code written in HTML/CSS/JS.</li>
    <li>Charts rendered by HighchartsJS and table redndered by JQuery Datatables.</li>
    <li>Web app hosted on Render using Gunicorn.</li>
    <li>Continuous integration implemented with Travis CI and Render.</li>
</ul>

<h2>About me</h2>
<ul>
    <li>
        Personal website: <a href="http://www.adam.jaamour.com/" target="_blank">www.adam.jaamour.com</a>
    </li>
    <li>
        LinkedIn: <a href="https://www.linkedin.com/in/adamjaamour/" target="_blank">www.linkedin.com/in/adamjaamour</a>
    </li>
    <li>
        StackOverflow: <a href="https://stackoverflow.com/story/adamjaamour" target="_blank">stackoverflow.com/story/adamjaamour</a>
    </li>
</ul>
{% endblock %}