<html>
<head>
    <title>F1 Crash Stats</title>

    <script src="../static/js/table.js"></script>

    <!--Highcharts-->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <!--JQuery Datatables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</head>
<body>

<h1>Welcome to Formula 1 Crash Stats</h1>
<p><i>This website parses the HTML source code of each Formula 1 season's Wikipedia page to gather data about DNFs
    throughout the seasons.</i></p>
<p><i>Please note that this website is still being developed. I am still working on making the parser more reliable and
    organizing the data in a more meaningful charts before working on the website's design. You can follow the progress
    here <a href="https://github.com/Adamouization/Formula1-Crash-Stats">https://github.com/Adamouization/Formula1-Crash-Stats</a></i>
</p>

<hr>

{% block content %}{% endblock %}

</body>
</html>