<html>
<head>
    <title>F1 Crash Stats</title>

    <!--Style-->
    <link rel="stylesheet" type="text/css" href="../static/css/table.css">

    <!--Libraries-->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
</head>
<body>

<h1>Welcome to Formula 1 Crash Stats</h1>
<p><i>This website parses the HTML source code of each Formula 1 season's Wikipedia page to gather data about DNFs
    throughout the seasons.</i></p>
<p><i>Please note that this website is still being developed. I am still working on making the parser more reliable and
    organizing the data in a more meaningful charts before working on the website's design. You can follow the progress here <a href="https://github.com/Adamouization/Formula1-Crash-Stats">https://github.com/Adamouization/Formula1-Crash-Stats</a></i></p>

<hr>

{% block content %}{% endblock %}

</body>
</html>