<html>
<head>
    <title>F1 DNF Stats</title>

    <!-- Favicon -->
    <link rel='shortcut icon' href='../static/favicon.ico'/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116916521-3"></script>
    <script type="text/javascript" src="../static/js/google-analytics.js"></script>

    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="../static/css/table.css">
    <link rel="stylesheet" type="text/css" href="../static/css/theme.css">

    <!--JS scripts-->
    <script src="../static/js/table.js"></script>

    <!--Highcharts-->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <!--JQuery Datatables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</head>
<body>

<div class="content">
    <div class="welcome-text">
        <h1 class="title">Formula 1 DNF Stats</h1>
        <p>
            This website parses the HTML source code of each Wikipedia page for every Formula 1 season in order to
            gather data about the DNFs that occurred throughout the seasons.
        </p>
        <p>Please note that this website is still being developed as I am working on collecting more data through the
            parser and exploring new methods to display it in more meaningful charts and tables. For a better
            experience, please visit the website on a desktop device rather than a mobile device.
        </p>
        <p>
            If you have any suggestions or critiques, please post them <a
                href="https://github.com/Adamouization/Formula1-Crash-Stats/issues/new">here</a>.
        </p>
    </div>

    <br>
    <hr class="shadow">

    {% block content %}{% endblock %}

    <footer class="footer">
        <p>
            Built with Python and <span class="love">❤</span> by <a href="http://www.adam.jaamour.com/">Adam Jaamour</a>
        </p>
        <p class="footer-copyright">Copyright &copy; 2019</p>
    </footer>

</div>

</body>
</html>