{% extends "base.html" %}

{% block content %}

<h1>Guide: help on how to use the website</h1>
<h2>Chart</h2>
<ul>
    <li>Select/deselect series by clicking on the corresponding one</li>
    <li>Click & drag over the chart to zoom into a section</li>
</ul>
<h2>Table</h2>
<ul>
    <li>Click column headers to reorder data in ascending/descending orders</li>
    <li>Show more/less entries using the dropdown in the upper-left corner</li>
    <li>Search for data in upper-right text box</li>
</ul>
<h2>Dictionary</h2>
<ul>
    <li>Ret - Retirements</li>
    <li>NC - Not Classified</li>
    <li>DNQ - Did Not Qualify</li>
    <li>DNPQ - Did Not Pre Qualify</li>
    <li>DSQ - Disqualified</li>
    <li>DNS - Did Not Start</li>
    <li>DNP - Did Not Practice</li>
    <li>Ex - Excluded</li>
    <li>WD - Withdrawn</li>
</ul>

{% endblock %}