{% extends "base.html" %}

{% block content %}

<div id="main_chart"></div>

<hr>

<table id="raw_data_table" class="stripe hover row-border order-column cell-border">
    <thead>
        <tr>
            <th>Season</th>
            <th>Retirements</th>
            <th>NC</th>
            <th>DNQ</th>
            <th>DNPQ</th>
            <th>DSQ</th>
            <th>DNS</th>
            <th>DNP</th>
            <th>Exclusions</th>
            <th>DNA</th>
            <th>WD</th>
            <th>Total DNF</th>
            <th>Total Classified finishes</th>
            <th>Total race entries</th>
        </tr>
    </thead>
    <tbody style="text-align: center">
        {% for resp in raw_data %}
        <tr>
            <td style="font-style: italic;">{{ resp.season }}</td>
            <td>{{ resp.ret }}</td>
            <td>{{ resp.nc }}</td>
            <td>{{ resp.dnq }}</td>
            <td>{{ resp.dnpq }}</td>
            <td>{{ resp.dsq }}</td>
            <td>{{ resp.dns }}</td>
            <td>{{ resp.dnp }}</td>
            <td>{{ resp.ex }}</td>
            <td>{{ resp.dna }}</td>
            <td>{{ resp.wd }}</td>
            <td style="font-weight: bold">{{ resp.total_dnf }}</td>
            <td>{{ resp.total_classified_finish }}</td>
            <td>{{ resp.total_race_entries }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Season</th>
            <th>Retirements</th>
            <th>NC</th>
            <th>DNQ</th>
            <th>DNPQ</th>
            <th>DSQ</th>
            <th>DNS</th>
            <th>DNP</th>
            <th>Exclusions</th>
            <th>DNA</th>
            <th>WD</th>
            <th>Total DNF</th>
            <th>Total Classified finishes</th>
            <th>Total race entries</th>
        </tr>
    </tfoot>
</table>

<script>
    Highcharts.chart('main_chart', {
        credits: false,
        title: {
            text: 'Formula 1 DNFs 1950-2017'
        },
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        yAxis: {
            title: {
                text: 'Occurrences'
            }
        },
        responsive: {
            rules: [
                {
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }
            ]
        },
        series: [
            {
                name: 'Ret',
                data: {{ ret_series }}
            },
            {
                name: 'NC',
                data: {{ nc_series }}
            },
            {
                name: 'DNQ',
                data: {{ dnq_series }}
            },
            {
                name: 'DNPQ',
                data: {{ dnpq_series }}
            },
            {
                name: 'DSQ',
                data: {{ dsq_series }}
            },
            {
                name: 'DNS',
                data: {{ dns_series }}
            },
            {
                name: 'DNP',
                data: {{ dnp_series }}
            },
            {
                name: 'Ex',
                data: {{ ex_series }}
            },
            {
                name: 'DNA',
                data: {{ dna_series }}
            },
            {
                name: 'WD',
                data: {{ wd_series }}
            },
        ],
        xAxis: {
            categories: {{ categories|safe }}
        }

    });
</script>

<script>initialiseDatatable();</script>

{% endblock %}